nav{
    background: rgba(174,196,147,255);
}
a{
    color: antiquewhite;
    font-style: normal;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
img{
    width: 120px;
    height: 120px;
}

li {
    margin: 20px;
}