
* {
    margin : 0 ;
    padding : 0;
    box-sizing: border-box;
}


html , body {
    height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.ProductList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Detail{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Producto {
    margin: 2%;
    width: 350px;
    height:500px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

fieldset {
    display: flex;
    justify-content: space-evenly;
}