nav{
    background: rgba(174,196,147,255);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a{
    color: antiquewhite;
    font-style: normal;
    text-decoration: none;
    margin: auto;
}

.navlogo{
    width: 80px;
    height: 80px;
}